#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# To enable all, uncomment following line
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -DLinux -Wall -I. -DTAP -DHV -Wno-strict-aliasing
export DEB_LDFLAGS_MAINT_APPEND = -lpthread -lutil -s

%:
	dh $@ 

# Add here commands to install the package into debian/vpcs/usr.
override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/vpcs/usr

override_dh_auto_clean:
	$(MAKE) -C src -f Makefile.linux clean
	rm -f vpcs
